body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #d8dad3;
  text-align: center;
  padding-bottom: 50px;
}

/* Navbar styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #383852;
  padding: 10px 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  transition: 0.3s ease-in-out;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #6d6d9c;
  color: white;
  border: none;
  padding: 12px 18px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.dropbtn:hover {
  background-color: #7e7eb5;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 240px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  z-index: 10;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dropdown-content input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.dropdown-content button {
  background-color: #2f80ed;
  color: white;
  border: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.dropdown-content button:hover {
  background-color: #2467c1;
}

.accountDrop {
  display: flex;
  flex-direction: column; /* Stack the buttons vertically */
  gap: 10px; /* Add spacing between the buttons */
}

.accountBtn a {
  color: white; /* Ensure the link text is white */
  text-decoration: none; /* Remove underline from links */
}

/* footer styles */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1e1e2f;
  color: white;
  text-align: center;
}

/* Signup styles (some are also used in the profile page) */

#signup-div {
  background-color: #f4f4f4;
  max-width: 400px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#signupform {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#signupform label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  text-align: left;
}

#signupform input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

#register-btn {
  background-color: #2f80ed;
  color: white;
  border: none;
  padding: 12px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

#register-btn:hover {
  background-color: #2467c1;
}

#usernameError {
  color: red;
}

.password-container {
  display: flex;
}

.password {
  flex: 1;
}

/* home page styles */

.day-header {
  width: 100%;
  padding: 16px 20px;
  background-color: #68a4f3;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.day-header:hover {
  background-color: #2467c1;
}

.day-content {
  padding: 20px;
  display: none;
  text-align: left;
}

.day.open .day-content {
  display: block;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 16px;
}

.menu-list li:last-child {
  border-bottom: none;
}

.diet {
  font-size: 13px;
  color: #888;
  font-style: italic;
  margin-left: 6px;
}

#closestButton,
#favouriteButton {
  padding: 12px 20px;
  background-color: #68a4f3;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.lunchList {
  text-align: center;
}

.lunchList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lunchList li {
  margin-bottom: 20px;
}

.lunchList strong {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

/* restaurant page styles */

.filterdiv {
  position: absolute;
  top: 175px;
  right: 20px;
  padding: 10px;
  border-radius: 8px;
  z-index: 1; /* Lower stacking order */
}

.filterdiv label {
  font-weight: bold;
}

#filter {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  min-width: 200px;
}

.searchFormdiv {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 20px auto;
  text-align: center;
}

.searchForm {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}

.selectRowContainer {
  display: flex;
  gap: 15px;
  flex: 2;
}

.searchForm input,
.searchForm select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
}

.searchForm select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  width: auto;
  min-width: 300px;
}

.searchForm label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

#name {
  flex: 2;
  min-width: 200px;
}

#provider,
#city {
  flex: 1;
  min-width: 150px;
}

#provider {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  min-width: 180px;
  max-width: 300px;
}

.searchForm button {
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchForm button:hover {
  background-color: #0056b3;
}

.restaurantBoxDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  max-width: 100%;
  padding: 20px;
  border-radius: 12px;
}

.restaurant {
  width: 90%;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.restaurant:hover {
  background-color: #f1f1f1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.header span.arrow,
.header .favorite-btn {
  margin-left: 10px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.favorite-btn {
  color: #f66584;
  font-size: 24px;
}

.arrow {
  transition: transform 0.3s ease;
}

.details {
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.open .details {
  max-height: fit-content;
  padding-top: 20px;
}

.hidden {
  display: none;
}

.menu-toggle {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px 0;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.toggle-day-menu,
.toggle-week-menu {
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.open .arrow {
  transform: rotate(90deg);
}

.details .info {
  max-width: 300px;
}

.info,
.day-menu,
.week-menu {
  flex: 1;

  padding: 10px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.info p,
.day-menu p,
.week-menu p {
  margin: 5px 0;
}

/* map page styles */

#mapDiv {
  height: 500px;
  width: 500px;
}

#mapdiv,
#mapInfo {
  display: block;
}

#mapContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: start;
  width: 90%;
  margin: 0 auto;
}

.mapInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 12px;
  padding: 20px;
  transition: all 0.3s ease;
  min-height: 450px;
  min-width: 800px;
}

.mapInfo.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: start;
}

#mapInstruction {
  text-align: center;
}

.mapRestaurant {
  text-align: left;
  padding: 5%;
  padding-top: 7%;
}

.mapMenu {
  padding: 5%;
  padding-top: 7%;
  position: relative;
}

.day {
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  max-width: 800px;
  margin: 20px auto;
  transition: all 0.3s ease-in-out;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #c0c1c4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.close-btn :hover {
  background-color: #707072;
}

/* profile page styles */

#profileForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#profileForm label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  text-align: left;
}

#profileForm input[type='text'],
#profileForm input[type='email'],
#profileForm input[type='file'],
#profileForm input[type='password'],
#profileForm select {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

#save-btn {
  background-color: #2f80ed;
  color: white;
  border: none;
  padding: 12px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

#save-btn:hover {
  background-color: #2467c1;
}

#avatarPreview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid #ccc;
}

.profileContainer {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  background-color: #f4f4f4;
  max-width: 600px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

#avatar {
  display: block;
  margin: 0 auto;
}

#profileForm > div:not(avatar) {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
